@{
  Layout = "_Layout";
}

<h1>Welcome to the Best Restaurant in Town!</h1>
<p>@Html.ActionLink("See all Restaurants", "Index", "Restaurants")</p> <p>@Html.ActionLink("See all Cuisines", "Index", "Cuisines")</p>


<p>@Html.ActionLink("Search restaurants", "Search", "Restaurants")</p>